In [8]:
print('Table of 7')
i=1
j=7
while(i<=10):
    print(j,'*',i,'=',i*j)
    i=i+1

Table of 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [10]:
print('table of 955 till 20')
i=1
x=955
while(i<=20):
    print('955*',i,'=',i*x)
    i=i+1

table of 955 till 20
955* 1 = 955
955* 2 = 1910
955* 3 = 2865
955* 4 = 3820
955* 5 = 4775
955* 6 = 5730
955* 7 = 6685
955* 8 = 7640
955* 9 = 8595
955* 10 = 9550
955* 11 = 10505
955* 12 = 11460
955* 13 = 12415
955* 14 = 13370
955* 15 = 14325
955* 16 = 15280
955* 17 = 16235
955* 18 = 17190
955* 19 = 18145
955* 20 = 19100

In [26]:
i=2
j=[]
while(i<8):
    i=i+1
    j.append(i)

In [27]:
j

[3, 4, 5, 6, 7, 8]

In [28]:
for x in [2,5,8.6,9]:
    print (x)

2
5
8.6
9

In [33]:
range(5)

range(0, 5)

In [35]:
list(range(1,10,5))

[1, 6]

In [36]:
for x in range(1,19,3):
    print(x)

1
4
7
10
13
16

In [46]:
#to make the data print horizontal instead of vertical we use ' end=" " '
#for eg-
for x in range(1,19,3):
    print(x , end="  ")

1  4  7  10  13  16

In [50]:
#we can put anything while using end 
for x in range(1,19,3):
    print(x , end=" nimz ")

1 nimz 4 nimz 7 nimz 10 nimz 13 nimz 16 nimz

In [51]:
for x in range(1,19,3):
    print(x , end="nimz")

1nimz4nimz7nimz10nimz13nimz16nimz

In [52]:
list(range(0,8,2))

[0, 2, 4, 6]